name: Build and Publish

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yaml
    with:
      push: true
      tag-latest: true
    secrets: inherit
