name: Race Detector

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  race:
    runs-on: ubuntu-latest
    env:
      GOMAXPROCS: 4
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Run race detector
        run: go test ./... -race
